.slider-section {
  background-color: #F8FAF9;
  background-size: cover;
}

.slider__products {
  display: flex;
  justify-content: space-between;
}

.slider__button--back, .slider__button--next {
  display: flex;
  align-items: center;
}

.slider__bars {
  display: flex;
  justify-content: space-between;
}

.bars__image {
  display: flex;
  align-items: center;
}

.bars__description {
 flex: 1;
}

.button--ingredients {
  margin-bottom: rem(24px);
}

.section__title--bars {
  font-size: rem(36px);
  text-transform: uppercase;
  color: #000;
  text-align: center;
  font-weight: bold;
  text-align: left;
  line-height: 1.1;
}

.bars__subtitle {
  width: 80%;
  margin-bottom: rem(24px);
}

.calliries-and-weight {
  display: flex;
  flex-direction: row;
}

.callories {
  margin-right: rem(45px);
  margin-bottom: rem(24px);
}

.nomination {
  color: #666666;
  font-size: rem(18px);
}

.amount {
  color: #000;
  font-weight: bold;
  font-size: rem(18px);}

.cost {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: rem(70px);
}

.slider__button {
  height: 50%;
}

.money {
  font-size: rem(60px);
  color: #151515;
  margin-right: rem(20px);
}

